body {
    font-family: arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin: 20px 0;
}
